<div class="container">
    <div ng-controller="products">
        <table id="products" class="table table-striped table-hover table-condensed">
            <thead class="thead-dark">
                <th>ProductID</th>
                <th>ProductName</th>
                <th>Image_Path</th>
                <th>Image_Name</th>
                <th>ZPL_String_To_Print</th>
                <th>BAR_Code_Number</th>
                <th>GS1_128</th>
                <th>Quantity</th>
            </thead>
            <div>
                <input type="text" ng-model="searchChar" placeholder="Pesquisar">  
            </div>
            <tr dir-paginate="product in data | orderBy : 'ProductID' |filter:searchChar | itemsPerPage:4">
                    <td>{{product.ProductID}}</td>
                    <td>{{product.ProductName}}</td>
                    <td>{{product.Image_Path}}</td>
                    <td>{{product.Image_Name}}</td>
                    <td>{{product.ZPL_String_To_Print}}</td>
                    <td>{{product.BAR_Code_Number}}</td>
                    <td>{{product.GS1_128}}</td>
                    <td>{{product.Quantity}}</td>
                    <td><a class="btn btn-xs btn-warning" ng-click="removeRow(product.ProductName, product.ProductID)"><i class="glyphicon glyphicon-pencil"></i></a></td>
                    <td><a class="btn btn-xs btn-danger" ng-click="removeRow(product.ProductID, product.ProductName)"><i class="glyphicon glyphicon-trash"></i></a></td>
            </tr>
        </table>
        <div align="center">
            <dir-pagination-controls
                 max-size="100"
                 direction-links="true"
                 boundary-links="true" >
            </dir-pagination-controls>
        </div>
    </div>
</div>